body {
    background-color: white;
    padding: 20px;
} 
#map {
        height: 700px;
        width: 500px;
        padding: 0;
        margin: 0;
        position: relative;
/*    z-index: -1;*/
    }

#ramka {
    height: 100px;
        width: 500px;
        padding: 0;
        margin: 0;
    background-color: white;
    position: absolute;
    transform: translateY(-100px);
    line-height: 3px;
/*    opacity: 0.5;*/
}

p {
    text-align: center;
}

#map > div.cartodb-legend-stack > div, #map > div.cartodb-legend-stack {
    visibility: hidden;
}



#map {
    border: white solid 15px;
    box-sizing: border-box;
        mix-blend-mode: multiply;
    box-shadow: 1px 1px 10px 5px rgba(245,245,245, 0.5);

}

ul {
list-style-type: none;
}

li {
    display: inline;
    border: 1px solid black;
    margin: 5px 1px;
    padding: 10px;
    box-sizing: border-box; 
    line-height: 30px;
}